{
  "extends": "@istanbuljs/nyc-config-babel",
  "all": true,
  "include": [
    "cypress/**/*.js",
    "src/**/*.js"
  ],
  "exclude": [
    "**/*.spec.js",
    "**/*.cy.js",
    "coverage/**",
    ".nyc_output/**"
  ]
}